
/*NOTO SANS*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body
{
	margin: 0;
	overflow-x: hidden;
}
ul
{
	margin: 0;
	padding: 0;
}
ul li
{
	list-style: none;
}
a:focus
{
	outline: none;
}

/*START HEADER STYLE*/
header
{
	background-color: #231f20;
	padding: 15px;
	min-width: 100%;
}
header.sticky
{
	z-index: 9999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #231f20;
	padding: 15px;
	min-width: 100%;
	animation: animTop .7s ease-in-out;
}
@keyframes animTop
{
	0%{
		opacity: 0;
		transform: translateY(-50px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
header .row
{
	justify-content: space-between;
}
header .left-nav 
{
	color: #fff;
}
header .left-nav  .hum 
{
	width: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
}
header .left-nav  .hum .line
{
	transition: all .4s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	background-color: #edaf52;
	height: 3px;
}
header .left-nav  .hum  .line-2
{
	transform: translateX(-10px);
}
header .left-nav  .hum:hover .line-2
{
	transform: translateX(0px);
}
header .left-nav .search
{
	margin-left: 25px;
}
header .left-nav .search input
{
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	padding: 0px 10px;
	height: 25px;
	width: 0;
	border-radius: 3px;
	transition: all .4s linear;
}
header .left-nav .search.fnd label
{
	visibility: hidden;
	opacity: 0;
}

header .left-nav .search.fnd input
{
	visibility: visible;
	opacity: 1;
	width: 20em;
	transform: translateX(-100px);
}
header .left-nav .search  label
{
	font-size: 16px;
}
header .left-nav .search .fa
{
	cursor: pointer;
	display: block;
	padding-top: 5px;
	padding-right: 15px;
}

header .center-nav img
{
	width: 100%;
	height: 100%;
}

header .right-nav span
{
	font-size: 14px;
	color:  #fff;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	padding-bottom: 2px;
}
header .right-nav #engLang
{
	display: none;
}
header .right-nav span::after
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #edaf52;
	width: 100%;
	height: 2px;
}
header .right-nav img
{
	width: 16px;
	height: 16px;
	margin-right: 10px;
	margin-top: 3px;
	cursor: pointer;
}
/*END HEADER STYLE*/




/*START HOME*/
#home
{
	background-color: #fff;
	padding: 40px 15px;
}
#home .container
{
	/*max-width: 1480px;*/
}
#home .inner 
{
	position: relative;
	min-width: 100%;

}
#home .inner .main-image 
{
	position: relative;
	width: 100%;
	height: 612px;

}
.main-image.Second
{
	display: none!important;
}
#home .inner .main-image img
{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
#home .inner .block-info
{
	position: absolute;
	left: 75%;
	top: 40%;
	transform: translate(-50%,-50%);
	border: 1px solid #edaf52;
	padding: 10px;
}
#home .inner .block-info::after
{
	font-family: 'FontAwesome';
	content: '\f0d9';
	position: absolute;
	left: -6px;
	top: 50%;
	color: #edaf52;
	font-size: 15px;
	transform: translateY(-50%);
}
#home .inner .block-info h6
{
	color:  #edaf52;
	font-weight: 700;
	font-size: 16px;
}
#home .inner .block-info p
{
	font-size: 13px;
	font-weight: 600;
	color: #000;
	margin: 0;
}
#home .inner .block-info span 
{
	font-size: 18px;
	font-weight: 800;
	color: #84756d;
}
#home .inner .star-image
{
	position: absolute;
	right: 5px;
	top: 10px;
}
#home .inner .hero-info
{
	font-family:'Noto-Sans-Georgian-Bold'!important;
    position: absolute;
	left: 0;
	bottom: 44px;
	right: 0;
	background-color: rgba(0,0,0,.20);
	color: #fff;
	padding: 0px 14px!important;
}
 .hero-info .icon
{
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #fff;
	margin-right: 15px;
}
 .hero-info  .hero-bx:nth-child(1)
 {
 	padding-left: 20px;
 	flex: 0 0 30%;
 	max-width: 30%;
 	border-right: 1px solid rgba(255,255,255,.3);
 }
 .hero-info  .hero-bx:nth-child(2  )
 {
 	border-right: 1px solid rgba(255,255,255,.3);
 	padding-left: 15px;
 	flex: 0 0 35%;
 	max-width: 35%;
 }
 .hero-info  .hero-bx:nth-child(3)
 {
 	padding-left: 15px;
 	flex: 0 0 25%;
 	max-width: 25%;
 }
 .hero-info  .hero-bx:nth-child(4)
 {
 	flex: 0 0 10%;
 	max-width: 10%;
 }
  .hero-info .hero-bx p
  {
	 font-weight: 600;
  	font-size: 13px;
  	padding: 0;
  	margin: 0;
  }
  .hero-info .hero-bx span
  {
	 font-weight: 400;
  	font-size: 13px;
  	padding: 0;
  	margin: 0;
  }
    .hero-info .hero-bx button
    {
    	border: none;
    	outline: none;
    	width: 100%;
    	height: 30px;
    	margin-right:  10px;
    	color: #83746c;
    	background-color: #fff;
    }
 .hero-info .hero-bx   button .fa
    {
    	font-size: 16px;
    	padding-left: 40px;
    }

      .hero-info .hero-bx .back-btn
    {
    	width: 100%;
    	height: 100%;
    	background-color: #83746c;
    	text-align: center;
    	line-height: 50px;
    	font-size: 14px;
    }
    .hero-info .hero-bx .back-btn .fa
     {
     	padding-left: 6px;
     }


/*END HOME*/


/*START LEFT SIDE*/
#home .inner  .inner-head
{
	padding: 0px 10px;
}
#home .inner  .inner-head p
{
	font-family: 'Noto Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #84756d;
	cursor: pointer;
	text-transform: uppercase;
}
#home .inner  .inner-head .inner-title
{
	font-family: 'Noto Sans', sans-serif;
	color: #2D2C2B;
	font-size: 16px;
	font-weight: 600;
}
#home .inner  .inner-head .inner-title span
{
	display: block;
	transform: translateX(-15px);
	color: #edaf52;
	font-size: 41px;
	font-weight: 700;
}
#home .inner  .inner-head h6
{
	font-family: 'Noto Sans', sans-serif;
	color: #2d2c2b;
	font-size:13px;
	font-weight: 700;
	align-items: center;
	display: flex;
}
#home .inner  .inner-head h6 .fa
{
	font-size: 25px;
	padding-right: 6px;
	margin: 0;
	color: #edaf52;
}
#home .inner  .inner-head  ul li a
{
	font-size: 13px;
	font-weight: 600;
	display: block;
	text-decoration: none;
	color: #2d2c2b;
	transition: all .4s ease;
}
#home .inner  .inner-head  ul li a:hover
{
	color: #edaf52;
}
#home .inner  .inner-head  ul li a.active
{
	color: #edaf52;
}
#home .inner  .inner-head .share-icon button
{
	background-color: transparent;
	color: #84756d;
	font-size: 16px;
	font-weight: 700;
	border: none;
	transition: all .4s ease;
	outline: none;
	margin-left: 8px;
}
#home .inner  .inner-head .share-icon img
{
	width: 9px
	height: 13px;
}
#home .inner  .inner-head button:hover .fa
{
	color: #84756d;
}
#home .inner  .inner-head button:hover
{
	color: #edaf52;
}
#home .inner .nav-menu
{
	margin-bottom: 20px;
}
.find-box
{
	padding-top: 15px;
	border-top: 1px solid #f6f4f3;
}
 .find-box .find-row
{
	margin-bottom: 20px;
}
 .find-box .find-row h2
{
	font-family: 'Noto Sans', sans-serif;
	color: #edaf52;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
}
  .find-box .find-row .curency
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #b7aba4;
	width: 35px;
	height: 20px;
	position: relative;
	padding-right: 4px;
	padding-left: 4px;
}
  .find-box .find-row .curency span
{
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
}
  .find-box .find-row .curency .currency-overlay
{
	width: 12px;
	height: 12px;
	background-color: #b7aba4;
	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .4s linear;
}
  .find-box .find-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	min-width: 100%;
}
 .find-box  .find-child
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 10px;
}
 .find-box .find-child label
{
	font-size: 14px;
	font-weight: 700;
	color: #000;
}
 .find-box  .find-child select
{ 
	cursor: pointer;
	border: none;
	padding-bottom: 10px;
	border-bottom: 1px solid #b7aba4;
	outline: none;
	font-size: 14px;
	background-color: transparent;
	width: 100%;
	 background: transparent;
  -webkit-appearance: none;
  position: relative;
}
 .find-box  .find-child .select-down
{
	color: #edaf52;
	position: absolute;
	right: 15px;
	top: 30px;
}
 .find-box  .find-child .result span
{
	font-size: 13px;
	padding-top: 10px;
}
.slider 
{
	position: relative;
	z-index: 1;
	height: 4px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #999;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #b7aba4;
}
.slider > .thumb {
	position: absolute;
	z-index: 13;
	top: 7px;
	width: 10px;
	height: 10px;
	background-color: #b7aba4;
	border-radius: 50%;
}
.slider > .thumb.left {
	left: 0%;
	transform: translate(0px, -10px);
}
.slider > .thumb.right {
	right: 0%;
	transform: translate(1px, -10px);
}


input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

#home .col-lg-8
{
	border-left: 1px solid #e6e3e1;
 }

#home .find-box button
{
	margin: 25px auto 0px auto;
	display: block;
	border: none;
	outline: none;
	width: 80%;
	height: 25px;
	background-color: #b7aba4;
	border: 1px solid #b7aba4;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	transition: all .4s;
}
#home .find-box button .fa
{
	padding-right: 8px;
	font-size: 10px;
}
#home .find-box button:hover
{
	color: #b7aba4;
	background-color: transparent;
}
/*END LEFT SIDE*/


/*START BENEFITS ROW*/

.benefits-row
{
	transform: translateY(-20px);
	font-family: 'Rajdhani', sans-serif!important;
	padding-top: 15px;
	border-top: 1px solid #e6e3e1;
}
.benefits-row ul
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.mobile-title,
.benefits-row h2
{
	color: #2d2c2b;
    font-size: 21px;
    font-weight: 700;
}
.Benefits-info 
{
	padding-left: 10px;
	padding-right: 20px;
	width: 100%;
}
.Benefits-info  li
{
	position: relative;
	color: #84756d;
	list-style: none;
	font-size: 14px;
	font-weight: 700;
	flex:0 0 25%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	padding-left: 10px;
}
.Benefits-info  li .fa
{
	font-size: 10px;
	padding-right: 10px;
}
/*SLIDE*/
    .swiper-container.benefits {
      width: 100%;
      height: 130px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    /*END SLIDE*/

	 .slider-row
	 {
	    border-top: 1px solid #e6e3e1;
	    padding-top: 30px;
	 }
    .slider-row .swiper-wrapper .swiper-slide
    {
    	width: 170px;
    	height: 90px;
    	overflow: hidden;
    	cursor: move;
    }
    .slider-row .swiper-wrapper .swiper-slide img
    {
    	width: 100%;
    	height: 100%;
    }
    .slider-row h2
    {
    	color: #2d2c2b;
    	font-size: 21px;
    	font-weight: 700;
    }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #edaf52!important;
  border-radius: 10px;
  left: 0;
  top: 0;
}
/*END BENEFITS ROW*/


/*START ACCORDION*/
#accordion h2
{
	color: #2d2c2b;
    font-size: 21px;
    font-weight: 700;
}
#accordion .card
{
	border: none;
	border-bottom: 1px solid #f5f4f3;
	text-decoration: none!important;
	cursor: pointer;
}
#accordion .card .card-header
{
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	text-decoration: none!important;
    position: relative;
    margin: 15px 0px;
}

#accordion .card .card-header h2
{
	cursor: pointer;
	color: #84756d;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none!important;
	display: block;
}
#accordion .card .card-header h2:hover
{
	color: green;
	text-decoration: none!important;
}
#accordion .card .card-header::before
{
	font-family: 'FontAwesome';
	content: '\f068';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #84756d;
	font-size: 16px;
	transition: all .4s ease-in-out;
}
#accordion .card .card-header.collapsed::before
{
	content: '\f067';
}
/*END ACCRODION*/


/*SATRT GALLERY-ROW*/
.gallery-row h2
{
	color: #2d2c2b;
    font-size: 21px;
    font-weight: 700;
}

   .swiper-container.gallery {
      width: 100%;
    }
     .swiper-container.gallery .swiper-wrapper
     {
      max-height: 305px;
     }
     .swiper-container.gallery .swiper-wrapper img
     {
     	height: 100%;
     }
.swiper-container.gallery .swiper-slide img
{
	width: 100%;
	height: auto;
	object-fit: cover;
}
:root {
  --swiper-navigation-size: 12px!important;
}
.swiper-container.gallery .swiper-button-prev,
.swiper-container.gallery .swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edaf52!important;
  border: 2px solid rgba(255,255,255,.3);
  padding: 5px!important;
  width: 21px;
  height: 21px;
  background: transparent!important;
   -webkit-appearance: none!important;
}
.swiper-container.gallery .swiper-button-prev::after
{
	font-family: "FontAwesome";
	content: '\f0d9';
	position: absolute;
	left: 5px;
	top: 0;
	font-size: 18px;
	font-weight: 700;
	color: #EDAF52;
}
.swiper-container.gallery .swiper-button-next::after
{
	font-family: "FontAwesome";
	content: '\f0da';
	position: absolute;
	left: 6px;
	top: 0;
	font-size: 18px;
	font-weight: 700;
	color: #EDAF52;
}
.swiper-container.gallery  .swiper-pagination {
  position: relative!important;
  left: 42%!important;
  top: 0%!important;
  transform: translateX(-50%)!important;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: inline!important;
  border: 1px solid #edaf52!important;
  padding: 0px!important;
  margin: 0px !important;
}

.swiper-container.gallery  .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 0!important;
  background: #575453;
  opacity: 1;
}
.swiper-container.gallery .swiper-pagination-bullet-active {
  opacity: 1;
  background: #edaf52!important;
} 
/*END GALLERY-ROW*/


/*START TESTIMONIAL*/
.testimonial
{
	width: 100%;
	height: auto;
	background-color: #a5978e;
	padding: 10px;
	position: relative;
}
.clear
{
	clear: both;
}
.testimonial .img
{
	float: right;
	position: relative;
	width: 90%;
}
.testimonial .img img
{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.testimonial .title h6
{ 
	display: inline;

   position: absolute;
    left: -20px;
    top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	font-size: 16px;
	color: #fff;
	font-weight: 800;
}
.testimonial .img h1
{
	position: absolute;
	left: 20px;
	top: 50%;
	font-size: 42px;
	color: #edaf52;
	font-weight: 800;
	z-index: 99;
	transform: translateY(-50%);
}
.testimonial .img p
{
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 99;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 800;
}
.testimonial .img p .fa
{
	color: #edaf52;
	font-size: 20px;
	padding-right: 10px;
}
/*END TESTIMONIAL*/

/*START FOOTER-ROW*/
.footer-row h2
{
	color: #2d2c2b;
    font-size: 21px;
    font-weight: 700;
}
.footer-row .inner
{
	font-family: 'Rajdhani', sans-serif!important;
}
.footer-row .inner .icon
{
	width:25px;
	height: 26px;
	border: 1px solid #edaf52;
	text-align: center;
	line-height: 26px;
	margin-right: 10px;
	padding: 3px;
}
.footer-row .inner .icon img
{
	width: 100%;
	height: 100%;
	display: block;
}
.footer-row .inner h6
{
	color: #2d2c2b;
	font-size: 13px;
	margin: 0;
	font-weight: 700;
	padding: 0;
}
.footer-row .inner  p
{
	font-size: 11px;
	color: #84756d;
	padding: 0;
	margin: 0;
}
.footer-row .inner .icon .fa
{
	font-size: 16px;
}
.footer-row .inner .contact-info p
{
	padding-right: 10px;
	margin: 0;
	color: #84756d!important;
}
.footer-row .inner.subscribe
{
	padding: 5px;
	border: 1px solid #edaf52;
}

.footer-row .inner.subscribe span
{
	color: #edaf52;
}

/*START COPYRIGHT*/
.copyright
{
	font-family: 'Rajdhani', sans-serif!important;
	border-top: 1px solid #e6e3e1;
	padding-top: 20px;
}
.copyright .left-copyright ul li
{
	font-size: 15px;
	margin-right: 15px;
}
/*END COPYRIGHT*/

/*END FOOTER-ROW*/




/*START MEDIA*/

/*FOOTER COPYRIGHT RESPONSIVE*/
@media all and ( max-width: 1366px )
{
.footer-row .bx:nth-child(1)
{
	flex: 0 0 45%;
	max-width: 45%;
}
.footer-row .bx:nth-child(2)
{
	flex: 0 0 25%;
	max-width: 25%;
}
.footer-row .bx:nth-child(3)
{
	flex: 0 0 30%;
	max-width: 30%;
}
.footer-row .bx:nth-child(4)
{
	margin-top: 15px;
	flex: 0 0 100%;
	max-width: 100%;
}
}


/*HOME INFO RESPONSIVE*/
@media all and ( max-width:  1200px)
{
	#home .inner .block-info
{
	left: 82%;
}
#home .inner .hero-info .hero-bx p
{
	font-size: 11px;
}
#home .inner .hero-info .hero-bx span
{
	font-size: 9px;
}
}



/*FIND BOX RESPONSIVE*/
@media all and ( max-width: 991px)
{
	header
	{
		justify-content: space-around;
	}
	#home .inner.lefts
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	#home .inner-head
	{
		flex: 0 0 50%;
		max-width: 50%
	}

	#home .find-box
	{
		flex: 0 0 50%;
		max-width: 50%
	}
	header .left-nav .search.fnd input
	{
		width: 10em;
	}
	.mobile-fullvideo-hide
	{
		display: block!important;
	}
	.full-video
    {
	display: none!important;
    }
    #home .inner .main-image
    {
    	margin-top: 30px;
    }
    #home .col-lg-8
    {
    	border: none!important;
    }

    #home .col-lg-8 .inner.desktop 
    {
    	display: none!important;
    }
    .mobile-device
    {
    	display: block!important;
    }
    #home .find-box
    {
    	border: none;
    }
    #home  .inner-title span
     {
     	transform: translateX(0px)!important;
     }
     #home .share-icon
     {
     	transform: translateY(40px);
     }
      #home .share-icon .bx
      {
      	margin-left: 20px;
      }

}



@media all and ( max-width: 768px )
{
	#home .inner .hero-info
	{
		bottom: -20px;
	}
	#home .inner .block-info
	{
		display: none;
	}
	.benefits-row
	{
		margin-top: 25px;
	}
	.benefits-row ul
	{
		justify-content: flex-start;
	}
	.mobile-device .mobile-info .block
	{
		width: 180px!important;
	}
	.mobile-device .hero-info
	{
		font-size: 9px!important;
	}
    .Benefits-info  li
	{
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	#home .find-box .find-row .find-child .result span,
	#home .find-box .find-row .find-child label
	{
		font-size: 11px;
	}
	#home .inner .inner-head .inner-title span
	{
		font-size: 22px;
	}
	.testimonial .title h6
	{
		font-size: 11px;
	}
	.testimonial .img h1
	{
		font-size: 22px;
	}
}


@media all and ( max-width: 576px )
{
	header .row
{
	justify-content: space-around;
}
	#home .lefts,
	header .right-nav img,
	header .left-nav .search,
	.mobile-device,
	#home .inner.lefts
	{
		display: none!important;
	}


	.mob-device
	{
		display: block!important;
	}

	 .benefits-row 
    {
	padding-top: 25px;
   }
 .benefits-row ul li
   {
	flex:  0 0 100%;
	max-width: 100%;
   }
   .swiper-container.gallery .swiper-pagination
   {
   	display: none!important;
   }
   .footer-row .bx
   {
   	margin-bottom: 15px;
   	flex: 0 0 100%!important;
   	max-width: 100%!important;
   }
   .copyright 
   {
   	margin-top: 0px!important;
   }
   .testimonial .img h1
   {
   	top: 15px;
   	left: 20px;
   	font-size: 22px;

   }
   .testimonial .img p
   {
   	left: 20px;
   	bottom: 15px;
   	font-size: 12px;
   }
   .testimonial .title h6
   {
   	font-size: 9px;
   }
   #accordion .card .card-header::before,
   #accordion .card .card-header h2
   {
   	font-size: 12px;
   }
    #home .share-icon
     {
     	transform: translateY(0px);
     }
       .slider-row .swiper-wrapper .swiper-slide
    {
    	height: 120px;
    }
    .hero-info .hero-bx button .fa
    {
    	padding-left: 125px;
    }
}


@media all and ( max-width:  420px )
{
	.mob-device .hero-info .hero-bx:nth-child(1)
	{
		padding-left: 35px!important;
	}
	.mob-device .hero-info .hero-bx p
	{
		font-size: 9px;
	}
	.hero-info .hero-bx button .fa
    {
    	padding-left: 85px;
    }
}
/*END MEDIA*/






/*START MOBILE RESPONSIVE 991*/
.mobile-device
{
	margin-top: 25px;
	position: relative;
	display: none;
}
.mobile-device .main-image img
{
	width: 100%;
	display: block;
	height: auto;
	object-fit: cover;
}
.mobile-device .star-image
{
	position: absolute;
	top: 20px;
	right: 0;
}
.mobile-device  .mobile-title
{
    font-family:'Noto-Sans-Georgian-Bold';
	position: absolute;
	left: 10px;
	top: 20px;
	font-size: 16px;
	color: #2d2c2b;
	font-weight: 800;
}
.mobile-device .mobile-info
{
	position: absolute;
	left: 50%;
	bottom: 19%;
	transform: translateX(-50%);
}
.mobile-device .mobile-info .block
{
	width: 260px;
	height: 50px;
	color: #edaf52;
	border: 2px solid #edaf52;
	text-align: center;
	font-size: 18px;
	line-height: 45px;
	font-weight: 700;
	background-color: #fff;
}

.mobile-device .block-image 
{
	text-align: center;
	line-height: 16px;
	width: 25px;
	height: 25px;
	border: 2px solid #edaf52;
	position: absolute;
	background-color: #fff;

}
.mobile-device .block-image  span
{
	font-family: 'Rajdhani', sans-serif!important;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
	background-color: #edaf52;
	padding: 0px 4px;
}
.mobile-device .block-image.block-A
{
	top: 27%;
	left: 27%;
} 
.mobile-device .block-image.block-B
{
	top: 31%;
	left:48%;
} 
.mobile-device .hero-info
{
	font-family:'Noto-Sans-Georgian-Bold'!important;
	margin-bottom: 35px;
	transform: translateY(-20px);
	background-color: #a5978e;
	color: #fff;
	padding: 0px 14px!important;
}
.mobile-fullvideo-hide
{
	display: none;
}
/*END MOBILE RESPONSIVE 991*/



/*START MOB-DEVICE RESPONSIVE*/
.mob-device
{
	display: none;
}
.mob-device .hero-info
{
	font-family:'Noto-Sans-Georgian-Bold'!important;
	margin-bottom: 35px;
	transform: translateY(-20px);
	background-color: #a5978e;
	color: #fff;
	padding: 0px 14px!important;
}

 .mob-device .hero-info  .hero-bx:nth-child(1)
 {
 	margin-top: 10px;
 	padding-left: 60px;
 	flex: 0 0 50%;
 	max-width: 50%;
 	border-right: 1px solid rgba(255,255,255,.3);
 }
 .mob-device .hero-info  .hero-bx:nth-child(2)
 {

 	flex: 0 0 50%;
 	max-width: 50%;
 }
 .mob-device .hero-info  .hero-bx:nth-child(3)
 {
 	padding: 0;
 	flex: 0 0 100%;
 	max-width: 100%;
 }
 .mob-device .hero-info .hero-bx .back-btn
 {
 	width: 80%;
 	height: auto;
 	margin: auto;
 	margin-bottom: 10px;
 }
 .mob-device  .hero-info  .hero-bx button
 {
 	margin: 10px  auto;
 	width: 80%;
 	height: 35px;
 }
 .mob-device .hero-info  .hero-bx:nth-child(4)
 {
 	flex: 0 0 100%;
 	max-width: 100%;
 }
 .mob-device .hero-info  .icon
 {
 	display: none!important;
 }
 .mob-device .hero-info .hero-bx p
 {
 	color: #fff;
 }
 .mob-device  .find-box
 {
 	flex: 0 0 100%!important;
 	max-width: 100%!important;
 }
 .mob-device .find-box button
 {
 	height: 35px!important;
 }
 .mob-device   p
{
	font-family: 'Noto Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #84756d;
	cursor: pointer;
	text-transform: uppercase;
}
.mob-device  .inner-title
{
	font-family: 'Noto Sans', sans-serif;
	color: #2D2C2B;
	font-size: 16px;
	width: 100%;
	font-weight: 600;
}
.mob-device  .inner-title span
{
	display: block;
	transform: translateX(-15px);
	color: #edaf52;
	font-size: 21px;
	font-weight: 700;
}
.mob-device  h1
{
	color: #2d2c2b;
    font-size: 21px;
    font-weight: 700;
}
.mob-device .box img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mob-device .block
{
	position: relative;
	top: -60px;
	width: 90%;
	margin: auto;
	height: 40px;
	color: #edaf52;
	border: 2px solid #edaf52;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	font-weight: 700;
	background-color: #fff;
}
.mob-device .share-icon button
{
	background-color: transparent;
	color: #84756d;
	font-size: 16px;
	font-weight: 700;
	border: none;
	transition: all .4s ease;
	outline: none;
	margin-left: 8px;
}
.mob-device .share-icon img
{
	width: 9px
	height: 13px;
}
 .mob-device .share-icon  .fa
{
	font-size: 25px;
	padding-right: 6px;
	margin: 0;
	color: #edaf52;
}
.mob-device .the-proj
{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #b7aba4;
	margin-bottom: 15px;
	padding: 6px;
}
.mob-device .the-proj h6
{
	color: #fff;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.mob-device .the-proj img
{
	width: 15px;
	height: 15px;
	margin-left: 50px;
}
/*END MOB DEVICE RESPOSINVE*/